/* Color Pallete */
:root {
--green: #11a772ff;
--blue: #5497a7ff;
--grey: #34575bff;
--brown: #7b4b28ff;
--orange: #954d0f;
}

h1 {
  background-color: var(--blue);
}

.header {
  background-color: var(--grey);
  color: white;
}